body{
margin-top:50px;
}


h1{
text-align:center;
font-size:150px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
h1{
text-align:center;
color:turquoise;
font-size:12px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
h1{
text-align:center;
color:green;
font-size:20px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
h1{
text-align:center;
color:yellow;
font-size:45px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
h1{
text-align:center;
color:red;
font-size:75px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
h1{
text-align:center;
color:blue;
font-size:12px;
}
}